/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
.byebug_history

/config/master.key

/test/

.framgia-ci-reports/
.framgia-ci-result.temp.yml

config/database.yml
config/credentials.yml.enc
